force-app/main/default/flows/Elije_Skill_para_ir_a_Modulos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_id</name>
        <label>Assign id</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>Elegida</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Modules_Related.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>final</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_name</name>
        <label>assign name</label>
        <locationX>270</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_modules.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_modules</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Apex</name>
        <choiceText>Apex</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Apex</stringValue>
        </value>
    </choices>
    <choices>
        <name>App_Lifecycle</name>
        <choiceText>App Lifecycle</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>App Lifecycle</stringValue>
        </value>
    </choices>
    <choices>
        <name>App_Logic</name>
        <choiceText>App Logic</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>App Logic</stringValue>
        </value>
    </choices>
    <choices>
        <name>Data_Management</name>
        <choiceText>Data Management</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Data Management</stringValue>
        </value>
    </choices>
    <choices>
        <name>Database</name>
        <choiceText>Database</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Database</stringValue>
        </value>
    </choices>
    <choices>
        <name>DataManagement</name>
        <choiceText>DataManagement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DataManagement</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lightning</name>
        <choiceText>Lightning</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lightning</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reporting</name>
        <choiceText>Reporting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reporting</stringValue>
        </value>
    </choices>
    <choices>
        <name>Security</name>
        <choiceText>Security</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Security</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Are_there_any_modules</name>
        <label>Are there any modules?</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Modulos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Trae_modulo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Modulos1</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Modules1</name>
        <collectionReference>Trae_modulo</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Modulo__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Elije Skill para ir a Modulos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Elije Skill para ir a Modulos</label>
    <loops>
        <name>loop_modules</name>
        <label>loop modules</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <collectionReference>Trae_modulo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_there_any_modules</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Trae_modulo</name>
        <label>Trae modulo</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_modules</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Skill__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Skills_disponibles</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Modulo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Copy_1_of_Modulos</name>
        <label>Copy 1 of Modulos</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoHayModulos</name>
            <fieldText>&lt;p&gt;No hay modulos relacionados a este Skill. Intente volver atras y seleccionar otra. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>final</name>
        <label>final</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Navigate</name>
            <extensionName>c:navigateToModule</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Elegida</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Modulos1</name>
        <label>Modulos</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_id</targetReference>
        </connector>
        <fields>
            <name>Modules_Related</name>
            <choiceReferences>Modules1</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Modules Related</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pantalla</name>
        <label>Pantalla</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Trae_modulo</targetReference>
        </connector>
        <fields>
            <name>Skills_disponibles</name>
            <choiceReferences>Apex</choiceReferences>
            <choiceReferences>Lightning</choiceReferences>
            <choiceReferences>Security</choiceReferences>
            <choiceReferences>App_Lifecycle</choiceReferences>
            <choiceReferences>App_Logic</choiceReferences>
            <choiceReferences>Database</choiceReferences>
            <choiceReferences>DataManagement</choiceReferences>
            <choiceReferences>Reporting</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Skills disponibles</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <helpText>&lt;p&gt;Selecciona una Skill y te llevara a un modulo que la contenga&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Pantalla</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Elegida</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
